<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand me-auto" routerLink="/" style="font-size: 25px; font-weight: bold;">Pekara Jagići</a>
    <ul class="navbar-nav mb-2 mb-md-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/products/list" routerLinkActive="active" style="font-size: 20px; font-weight: bold; margin-right: 10px;">Proizvodi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ingredients/list" routerLinkActive="active" style="font-size: 20px; font-weight: bold; margin-right: 10px;">Sastojci</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/orders/property" routerLinkActive="active" style="font-size: 20px; font-weight: bold; margin-right: 10px;">Redovne narudžbe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/achievements" routerLinkActive="active" style="font-size: 20px; font-weight: bold; margin-right: 10px;">Dostignuća</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/stats" routerLinkActive="active" style="font-size: 20px; font-weight: bold; margin-right: 10px;">Statistika</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/taxes" routerLinkActive="active" style="font-size: 20px; font-weight: bold;">Porez</a>
      </li>
    </ul>
  </div>
</nav>
