.container {
  margin-top: 100px;
}

.accordion-heading {
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customer-name {
  flex: 1;
}

.product-details {
  flex: 2;
}

.target-day {
  flex: 1;
}

.green-background {
  background-color: rgba(50, 205, 50, 0.3);
}
