<div class="container" style="margin-top: 100px;">
    <form>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <div class="form-group text-center"> <!-- Added 'text-center' class for center alignment -->
                <label for="exampleInputEmail1" class="customLabel">Ime kupca</label>
                <input class="form-control form-control-lg" type="text" placeholder="Ovdje unesite ime">
              </div>
            </div>
            <div class="col-md-4"></div>
          </div>
          <div class="row">
            <div class="col-md-6">
              
              <div class="d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="https://www.thespruceeats.com/thmb/vbc6MqkqHlkSOx_X5Clyo5qv0kk=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/loaf-of-bread-182835505-58a7008c5f9b58a3c91c9a14.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Domaci</h5>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="margin-bottom: 10px;">
                      <div class="quantity">
                        <button class="quantity-button minus"><i class="fa fa-minus-square"></i></button>
                        <span class="quantity-number">0</span>
                        <button class="quantity-button plus"><i class="fa fa-plus-square"></i></button>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              
              
            </div>
            
            
          </div>
          
                    
    </form>


</div>
